{% extends 'bargraph/legal.html' %}

{% block body %}
<div class="info col-8 text-white">
    <div class="col-12">
        <div class="container-fluid d-flex justify-content-end mb-5">
            <div class="row">
                <form action="{% url 'brand' %}" method="post" class="d-flex align-items-center">
                    {% csrf_token %}
                    <div class="input-group">
                        <input class="form-control" value="{{brand_name}}" placeholder="{{placeholder}}" name="legal" id="smilesInput"
                            style="border-radius: 5px;">
                    </div>

                    <button class="btn btn-outline-light ms-2" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="text-center">{{title}}</h2>
                    <hr style="margin-bottom: 10px;">
                </div>
            </div>
            <div class="row">
                {% if data %}
                {% for d in data %}
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <div class="details" style="margin-top:20px;">
                                        <!-- <strong>Product Name:</strong> -->
                                        <p class="card-text">{{d.g_name}}</p>
                                        <p class="card-text">{{d.m_name}}</p>
                                        <p class="card-text">{{d.p_type}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2" >
                            <div class="col">
                                <p class="card-text" style="margin-bottom:45px; margin-right:10px; margin-left:10px;">
                                    {{d.p_desc}}</p>
                            </div>
                        </div>
                        <!-- <div class="download-button">
                            <button class="btn btn-primary" id="downloadButton">Download File</button>
                        </div> -->
                        <div class="download-button">
                            <form action="{% url 'download_list' data=d.notepad|urlencode file_name=d.g_name|urlencode %}" method="get">
                                <button type="submit" class="btn btn-primary">Download File</button>
                            </form>
                        </div>
                    </div>
                    <!-- <button id="downloadButton">Download List</button> -->

                    <script>
                        
                    </script>
                </div>
                {% endfor %}
                {% else %}
                <h2>No data found!</h2>
                {% endif %}
                <div style="height:100px"></div>

            </div>
        </div>
    </div>


</div>
{% endblock %}